/* Navbar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.brand-logo img {
    height: 55px;
    margin-top: 17.5px;
    margin-bottom: 17.5px; 
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #808080;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #1991A0;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.active a {
    color: #1991A0 !important;
}


/* Banner Image */
.banner-image {
    position: relative;
}

.banner-image img {
    width: 100%;
}

.banner-text{
    right: 10%;
    background-color: #1791A0;
    position: absolute;
    top: 0;
    width: 33.33%;
    padding: 32px;
}

.banner-text h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 36px;
    line-height: 44px;
    color: white;
}

.banner-text hr {
    border: 1px solid white;
    margin-top: 10px;
}

.banner-text h4 {
    color: white;
    margin-top: 24px;
    font-size: 30px;
    line-height: 38px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.post-time{
    color: white;
}

.post-time p {
    margin-top: 10px;
}

.banner-post-link {
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
}

.banner-post-link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 16px;
}

.banner-post-text {
    color: white;
    margin-top: 20px;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.arrow-space {
    margin: 20px;
}

.banner-social-tags{
    position: absolute;
    right: 10%;
    bottom: 20%
}

.banner-social-tags h3{
    float: left;
    color: white;
    font-size: 24px;
}

.banner-social-icons{
    float: left;
    margin-top: 8px;
    height: 24px;
}

.banner-social-icons a{
    margin-left: 20px;
}

/* content */
#content {
    padding: 80px 0px 80px 0px;
}

.banner-social-tags {
    text-align: right;
}

.banner-social-icons a {
    display: inline-block;
}

#content-dark {
    padding: 80px 0px 80px 0px;
    background-color: #F8F8F8;

}

#content-end {
    padding: 80px 0px 80px 0px;
    background-color: #3C3D41;
    ;

}

.content-div h2, .gallery-div-left h2, .client-div h2, .resources-div h2 {
    font-size: 36px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.content-div-left h2:before , .team-div h2:before, 
.project-div-left h2:before, .gallery-div-left h2:before,
.client-div h2:before, .partners-div h2:before, .resources-div h2:before{
    display: inline-block;
    content: "";
    border-top: 2px solid #0AA6BD;
    width: 75px;
    transform: translateY(-10px);
    margin-right: 20px;
}

.body-text {
    padding: 20px 0px 0px 20px;
    margin-left: 75px;
    color: #808080;
}

.body-text-link
{
    padding: 20px 0px 0px 20px;
    margin-left: 75px;
}

.body-text-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-family: 'Overpass', sans-serif;
}

.content-div:after{
    content:"";
    display: block;
    clear: both;
}


.content-div, .team-div, .gallery-div, .client-div, .partners-div, .resources-div {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.content-div p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.content-div-left {
    width: 48%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content-div-right {
    width: 48%;
    float: right;
}

.content-div-right img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.body-text-link {
    color: #A2E6FF;
    font-size: 14px;
}

/* project */

.project-div{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.project-div h2, .news-div h2, .team-div h2, .partners-div h2 {
    font-size: 36px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.project-div p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.project-div-left {
    float: left;
    width: 48%;
}

.project-div-right {
    float: right;
    width: 48%;
    margin-top: 16px;
}

.project-div-right img {
    width: 100%;
    height: auto;
}

.project-div-left img {
    width: 100%;
    height: auto;
}

.left-1-image img {
    margin-top: 48px;
    margin-left: 75px;
    width: 100%;
}

.right-image {
    margin-top: 48px;
    position: relative;
}

.left-image{
    margin-left: 75px;
    margin-top: 48px;
    position: relative;
}

.image-button{
    background: white;
    display: inline-block;
    padding: 20px;
    position: absolute;
    bottom: 1.4%;
    left: 0.5%;
}

/* events */

.events-div h2 {
    font-size: 36px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.events-div-top h2:before{
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 75px;
    transform: translateY(-10px);
    margin-right: 20px;
}

.events-div {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.events-div p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

.events-div-top{
    width: 50%;

}  

.event-1 {
    width: 31%;
    margin-top: 45px;
    float: left;
    box-shadow: 0px 0px 15px grey;  
}

.event-1 img {
    width: 100%;
}

.event-1-text p{
    padding: 16px 0px 0px 16px;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.event-1-text h3{
    padding: 16px;
    font-size: 24px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.event-1-link {
    margin-left: 16px;
    margin-top: 12px;
    padding-bottom: 12px;
}

.event-1 hr {
    color: #CCCCCC;
    margin-top: 18px;
}

.event-1-link a {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #1791A0;
}

.event-left-margin {
    margin-left: 3.5%;
}

.event-1-image {
    position: relative;
}

.event-image-overlay {
    background-color: white;
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 22px;
    margin-left: 24px;
}

.event-image-overlay h3 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #1791A0;

}

.event-image-overlay p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

.events-div-bottom {
    margin-top: 50px;
}

.events-div-bottom h2 {
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.past-events {
    width: 22.375%;
    float: left;
}

.past-events img {
    width: 100%;
}

.past-events-title h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 16px;
}

.past-events-title {
    box-shadow: 0px 0px 15px grey;  
    margin-top: -5px;
}
/* events */


/* news div */

.news-div {
    width: 80%;
    margin: 0 auto;
}

.content-div p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.news-div-left {
    width: 48%;
    float: left;
}

.news-div-right{
    width: 48%;
    float: right;
}

.news-div-left h2:before{
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 75px;
    transform: translateY(-10px);
    margin-right: 20px;
}

.news-div-right {
    width: 48%;
    float: right;
}

.news-image {
    position: relative;
}

.news-image img {
    width: 100%;  
}

.news-overlay {
    background-color: #FFFFFF99;
    display: inline-block;
    position: absolute;
    bottom: 0; 
    right: 0;
    width: 60%;
    padding: 88px 63px 130px 32px;
}

.news-post-link {
    margin-top: 26px;
}

.news-post-link i {
    color: white;
    text-decoration: none;
    color: #0AA6BD;
}

.news-post-link a {
    color: white;
    text-decoration: none;
    color: black;
}

.news-date {
    background-color: #1791A0;
    display: inline-block;
    padding: 12px 16px 12px 16px;
    position: absolute;
    top: 0;
    left: 0;
}

.news-date p {
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.news-image-margin, .gallery-image-margin {
    margin-top: 48px;
}

.text-caps a{
    text-transform: uppercase;
}

/* our team */

.team-top {
    width: 50%;
}

.team-bottom {
    margin-top: 48px;
}

.team-member {
    width: 30%;
    float: left;
}

.member-details{
    margin-top: 20px;
}

.member-details h3{
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
}

.member-details p{
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}
.member-social-links {
    margin-top: 20px;
}

.member-social-links a img {
    height: 12.8px;
}

.member-image{
    position: relative;
}

.member-image img {
    width: 100%;
    display: block;
}

.member-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    opacity: 0;
    transition: 0.3s;
}

.member-overlay:hover {
    opacity: 0.2;
    transition: 0.3s;
}

.team-member-center, .team-member-right {
    margin-left: 5%;
}

.social-center, .social-right {
        margin-left: 12px;
}


/* gallery */

.gallery-div-left{
    width: 48%;
    float: left;
}

.gallery-div-right{
    width: 48%;
    float: right;
}

.gallery-display-image{
    position: relative;
}

.gallery-display-image img {
    width: 100%;
    display: block;

}

.gallery-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
  
}

.gallery-overlay-contents {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 78px 0px 32px;
}

p.date {
    font-size: 12px;
    line-height: 20px;
}

.gallery-overlay h3 {
    font-size: 30px;
    line-height: 38px;
    margin: 9.5px 0px 26.5px 0px;
}

p.read-more {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.read-more i {
    color: #0AA6BD
}

/*testimonial */

.testimonial-left {
    float: left;
    width: 48%;
}

.testimonial-top{
    position: relative;
}

.testimonial-bottom{
    margin-top: 50px;
}

.testimonial-right {
    float: right;
    width: 48%;
}

.client-testimonials {
    margin-top: 48px;
}

.testimonial-text {
    background-color:#9A9A9A;
    padding: 25px 35px 30px 25px; 
    color: white;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 27px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    border-top: 27px solid #9A9A9AB2;
    top: 100%;
  }

.client-image {
    float: left;
  }

.client-details{
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}

.client-details h3 {
 color:#1791A0;
 font-size: 24px;

}

/* partner */

.partner {
    background-color: white;
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 48px;
}

.partner-margin {
    margin-left: 2.66%;
}

.partner-content {
    padding: 10px 0px 30px 0px;
}

.partner-heading {
    text-transform: uppercase;
}

.partner-image img {
    width: 40px; 
    padding-top: 30px;
}

/* resources */

.resources-div h2{
    float: left;
}

.resources-nav {
    float: right;
}

.resources-nav ul li {
 display: inline-block;
}

.resources-nav ul li a {
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

.resources-nav ul li a {
    padding-left: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.resources-nav ul li a:hover{
    border-bottom: 2px solid #0AA6BD;
    transition: 0.3s;
}

.resources-left, .resources-right {
    width: 48%;
}

.resources-left {
    float: left;
}

.resources-right{
    float: right;
}

.resource{
    box-shadow: 0px 0px 10px grey; 
    margin-top: 48px;
    width: 100%;
    display: block;
}

.resource-1{
    margin-top: 0px;
}

.resource-image img {
    box-shadow: -10px 10px  #1791A0; 
}

.resource-content {
    padding: 40px;
}

.resource-image {
    float: left;
    width: 34%;
}

.resource-text {
    float: right;
    width: 66%;
}

.resource-text h2 {
    font-size: 24px;
    line-height: 24px;
}

p.date-r {
    font-size: 14px;
    margin-top: 10px;
    color: #AAAAAA;
}

p.title-r{
    color: #808080;
    margin-top: 15px;
}

p.download-r {
    margin-top: 12px;
    color: #1791A0;

}


.end-nav {
    width: 80%;
    margin: 0 auto;
}
.end-nav-col-1 {
    width: 30%;
    float: left;
}

.end-nav-col {
    width: 20%;
    float: left;
}

.end-nav-col-1 img {
    height: 30px;
}

.end-nav-col-1 p {
    color: #808080;
    font-size: 16px;
    line-height: 24px;
}

.white-text {
    color: white;
}
 
.end-nav-col h3{
    color: white;
}

.end-nav-col a {
    color: #CCCCCC;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.end-nav-col-2 {
    float: left;
    width: 30%;
}

.end-nav-col-2 input {
    width: 100%;
    border-radius: 25px;
    padding: 5px;
    margin-top: 24px;
}

.email-tag {
    position: relative;
}

i.pos {
 color: #0AA6BD;
 position: absolute;
 top: 34px;
 left: 95%;
}

.end-links {
    margin-top: 15px;
}

.footer {
    background-color: #171717;
    padding: 30px 0px 30px 0px;
}

.footer p {
    color: white;
    font-size: 16px;
    float: left;
}

.footer-div {
    width: 80%;
    margin: 0 auto;
}

.social-tags {
    float: right;
}

.social-tags h3{
    color: white;
    font-size: 24px;
    float: left;
    margin-right: 20px;
}

.social-icons{
    float: right;
    margin-top: 8px;
}

.social-icons a {
    margin-left: 10px;
}


@media (max-width: 1366px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .resources-div h2 {
        float: none;
    }

    .resources-nav {
        float: none;
        display: block;
        margin-left: 95px;
    }

    .resources-left, .resources-right{
        display: block;
        float: none;
        width: 100%;
    }

    .resource-1 {
        margin-top: 48px;
    }
}



.past-event-carousel {
    margin-top: 24px;
}


@media (max-width: 1100px){
    .news-overlay h3 {
        font-size: 20px;
    }

    .news-div-left {
        float: none;
        display: block;
        position: static !important;
        width: 100%;
    }

    .news-div-right {
        float: none;
        display: block;
        position: static !important;
        width: 100%;
    }

    .news-div-left {
        float: none;
        display: block;
    }

    .news-div-left p{
        width: 100%;
    }

    .news-res-margin {
        margin-top: 50px;
    }
}

@media (max-width: 1130px){
    .banner-social-tags {
        display: none;
    }
}

/* small screen */
@media (max-width: 1024px){
    .banner-post-text {
        display: none;
    }

    .content-div-left h2{
        font-size: 32px;
    }

    .project-div-left h2{
        font-size: 28px;
    }

    .events-div h2{
        font-size: 28px;
    }

    .image-button{
        background: white;
        display: inline-block;
        padding: 20px;
        position: absolute;
        bottom: 5px;
        left: 0.5%;
    }

    .past-events-title h2 {
        font-size: 18px;
    }


}

/* tablet screen */

@media (max-width: 797px){
    .content-div-left h2, .project-div-left h2, .events-div-top h2, .team-top h2,
    .gallery-div-left h2, .news-div h2, .partners-div h2, .client-div-title h2,
    .resources-div h2{
        font-size: 25px !important;
    }

    .content-div-left p{
        font-size: 18px;
    }

    .project-div-left p{
        font-size: 18px;
    }

    .events-div-top, .team-top{
        width: 100%;
    }

    .events-div-top p{
        font-size: 18px;
    }

    .events-div-bottom h2 {
        font-size: 22px;
    }

    .team-member {
        width: 100%;
    }

    .team-member-center, .team-member-right {
        margin: 50px 0px 0px 0px;
    }

    .gallery-div-left, .gallery-div-right{
        float: none;
        width: 100%;
    }

    .gallery-div-right {
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    .banner-text h3{
      font-size: 18px;
      line-height: 20px;
    }

    .banner-text h4{
        font-size: 16px;
        line-height: 24px;
    }

    .banner-post-text {
        display: none;
    }

    .banner-post-link i {
        font-size: 12px;
    }

    .post-time p {
        font-size: 12px;
    }
    .banner-post-link a {
        font-size: 12px;
    }

    .content-div-left{
        float: none;
        display: block;
        position: static !important;
        width: 100%;
        transform: translateY(0);
        margin-bottom: 30px;
    }
    
    .content-div-right{
        float: none;
        clear: both;
        position: static !important;
        width: 100%;
        margin-top: 50px;
    }

    .project-div-left{
        float: none;
        display: block;
        position: static !important;
        width: 100%;
        transform: translateY(0);
        margin-bottom: 30px;
    }

    .project-div-right{
        float: none;
        clear: both;
        position: static !important;
        margin-top: 50px;
        width: 100%;
    }

    .image-button{
        background: white;
        display: inline-block;
        padding: 20px;
        position: absolute;
        bottom: 5px;
        left: 0.5%;
    }

    .event-1 {
        float: none;
        width: 100%;
    }

    .past-events {
        float: none;
        width: 100%;
        margin-top: 25px;
    }

    .event-left-margin {
        margin-left: 0px;
    }

    .partners{
        margin-top: 20px;
    }

    .partner {
        width: 46%;
        margin: 2%;   
    }
    
    .resource-image, .resource-text {
        float: none;
        display: block;
    }

    .resource-image{
        margin: 0 auto;
    }

    .resource-text {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .footer-div p {
        float: none;
        text-align: center;
    }

    .social-icons {
        float: none;
        width: 100%;
        margin-top: 10px;
        text-align: center;   
    }

    .social-tags {
        float: none;
    }

    .social-tags h3 {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .end-nav-col-1{
        width: 100%;
        float: none;
        text-align: center;
    }

    .end-nav-col {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .end-links {
        margin: 0;
    }

    .end-nav-col-2{
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 30px;
    }
}



/* mobile */
@media (max-width: 480px){

    .content-div-left h2:before, .team-top h2:before, 
    .gallery-div-left h2:before, .client-div-title h2:before ,.partners-div h2:before, .resources-div h2:before{ 
        display: none;
    }

    .resources-nav{
        margin: 0;
        padding: 10px 0 10px 0;
    }

    /* .content-div-left p:before{ 
        display: none;
    } */

    .project-div-left h2:before{ 
        display: none;

    }

    .project-div-left p:before{ 
        display: none;
    }

    .events-div h2:before{ 
        display: none;
    }

    .news-div-left h2:before{ 
        display: none;
    }

    .content-div-left p:before{ 
        display: none;
    }

    .body-text-link {
        margin: 0px;
        padding: 10px 0px 0px 0px;
    }

    .body-text {
        padding: 15px 0px 0px 0px;
        margin-left: 0px;
    }


    .banner-image img{
        height: 300px;
        width: auto;
    }

    .banner-text {
        display: none;
    }

    .content-div-left h2, .team-top h2, .gallery-div h2, .events-div h2, .news-div h2
    .project-div-left h2{
        font-size: 24px;
        }

    .image-button{
        background: white;
        display: inline-block;
        padding: 20px;
        position: absolute;
        bottom: 5px;
        left: 0.5%;
    }

    .news-overlay .news-date{
        display: none;
    }

    .news-overlay {
        padding: 12px;
    }

    .news-overlay h3{
        font-size: 18px;
    }

    .news-post-link a {
        font-size: 16px;
    }
    
    .gallery-overlay-contents {
        padding: 10px;
    }

    .gallery-overlay-contents h3{
        font-size: 20px;
        line-height: 24px;
    }

    p.date {
        font-size: 12px;
    }

    p.read-more{
        font-size: 12px;
    }

    .testimonial-left, .testimonial-right {
        float: none;
        width: 100%;
    }

    .testimonial-right {
        margin-top: 150px;
    }

    .partners{
        margin-top: 20px;
    }
    
    .partner {
        width: 100%;        
    }

    .member-details h3 {
        font-size: 24px;
    }

    .resource-image{
        margin: 0;
    }

    .resource-text {
        width: 100%;
        margin-top: 20px;
        text-align: left;
    }

}



